{% extends "base.html" %}

{% block title %}
    خدمات - طراحی الکترونیک
{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}
    {% include 'components/header.html' %}

    <section class="persian-font">
        <div class="container-fluid">

            <div class="row justify-content-center align-items-center bg-gray py-4 pb-5 mb-4">
                <div class="col-11 col-sm-10">
                    <h1 class="display-4">طراحی <span class="text-primary">الکترونیک</span></h1>
                    <p class="text-muted my-3" style="text-align: justify">تمام تجهیزات الکترونیکی که در اطراف ما وجود دارد توسط متخصصان الکترونیک طراحی و ساخته شده و می توان رشته الکترونیک را به علم طراحی مدارهای مختلف که با ولتاژ و جریان کم کار می‌کنند تلقی کرد. البته متاسفانه برندهای تولید قطعات الکترونیکی در ایران توانایی رقابت با برند‌های مشهور موجود در جهان را ندارند و به همین دلیل، تولید قطعات الکترونیکی در کشور ما در سطح وسیعی صورت نمی‌گیرد، اما در هر صورت، تمام پیشرفت‌های که در حوزه الکترونیک صورت گرفته و جهان امروز را متحول ساخته‌است، مرهون تلاش شبانه روزی متخصصان الکترونیک بوده‌است.</p>
                </div>
            </div>

            <div class="row justify-content-center align-items-center py-4 my-4">
                <div class="col-11 col-sm-10 my-2">
                    <p class="h1 text-primary my-3">برد الکترونیکی چیست؟</p>
                    <div class="text-muted">
                        <p>یک برد الکترونیکی را می‌توان مجموعه‌ای از اجزای الکترونیکی مانند مقاومت، ترانزیستور، خازن، سلف، دیود و غیره که توسط سیم‌های رسانا به هم متصل می‌شوند، تعریف کرد. در یک برد الکترونیکی، باید حداقل یک مؤلفه فعال (مثلا ترانزیستور یک عنصر فعال است) حضور داشته باشد. طراحی و ساخت برد الکترونیکی بر پایه نحوه‌ی چیدمان این قطعات در کنار هم و با هدف انجام عملیاتی ساده یا پیچیده انجام می‌شود.</p>
                        <p>برد الکترونیکی برای پشتیبانی مکانیکی و اتصال الکتریکی قطعات الکترونیکی با استفاده از مسیرهای رسانا، مسیرها یا علائم سیگنال حک‌شده از ورق‌های مسی چند‌لایه روی یک برد غیررسانا مورد استفاده قرار می‌گیرد. قطعات از طریق مواد رسانا در زیر این برد غیررسانا به هم متصل می‌شوند. مواد رسانای رایج مورد استفاده در PCBها معمولاً مس است، زیرا مس ارزان و رایج است و رسانایی قابل قبولی نیز دارد.</p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center bg-gray my-4 py-5" style="text-align: justify">
                <div class="col-11 col-sm-10 col-md-4">
                        <img loading="lazy" src="{{ 'pcb/media/components.webp' | StorageUrl }}" class="img-fluid img-thumbnail rounded" />
                </div>
                <div class="col-11 col-sm-10 col-md-2"></div>
                <div class="col-11 col-sm-10 col-md-4">
                        <p class="h1 text-primary my-3">اجزای یک برد الکترونیکی</p>
                        <div class="text-muted">
                            <p>یک برد الکترونیکی را می‌توان مجموعه‌ای از اجزای الکترونیکی مانند مقاومت، ترانزیستور، خازن، سلف، دیود و غیره که توسط سیم‌های رسانا به هم متصل می‌شوند، تعریف کرد. در یک برد الکترونیکی، باید حداقل یک مؤلفه فعال (مثلا ترانزیستور یک عنصر فعال است) حضور داشته باشد. طراحی و ساخت برد الکترونیکی بر پایه نحوه‌ی چیدمان این قطعات در کنار هم و با هدف انجام عملیاتی ساده یا پیچیده انجام می‌شود.</p>
                            <p>برد الکترونیکی برای پشتیبانی مکانیکی و اتصال الکتریکی قطعات الکترونیکی با استفاده از مسیرهای رسانا، مسیرها یا علائم سیگنال حک‌شده از ورق‌های مسی چند‌لایه روی یک برد غیررسانا مورد استفاده قرار می‌گیرد. قطعات از طریق مواد رسانا در زیر این برد غیررسانا به هم متصل می‌شوند. مواد رسانای رایج مورد استفاده در PCBها معمولاً مس است، زیرا مس ارزان و رایج است و رسانایی قابل قبولی نیز دارد.</p>
                            <p></p>
                        </div>
                </div>

            </div>

    </section>

    {% include 'components/footer.html' %}
    {% include 'components/mobile-navbar.html' %}
{% endblock content %}

{% block script %}
{% endblock script %}