{% extends "base.html" %}

{% block title %}
    خدمات - طراحی مکانیک
{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}
    {% include 'components/header.html' %}

    <section class="persian-font overflow-hidden" style="overflow-x: hidden">
        <div class="container-fluid">
            <div class="my-5 row justify-content-center align-items-center">
            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}
    {% include 'components/mobile-navbar.html' %}
{% endblock content %}

{% block script %}
{% endblock script %}