@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

#loader-animation svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
#loader-animation svg text {
	animation: stroke 2s infinite alternate;
	stroke-width: 2;
	stroke: #137FFF;
}
@keyframes stroke {
	0%   {
		fill: rgba(19,127,255,0); stroke: rgba(19,127,255,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(19,127,255,0); stroke: rgba(19,127,255,1); }
	80%  {fill: rgba(19,127,255,0); stroke: rgba(19,127,255,1); stroke-width: 3; }
	100% {
		fill: rgba(19,127,255,1); stroke: rgba(19,127,255,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

#loader-animation .wrapper {
	width: 100%;
	height: 100%;
}
