{% extends "base.html" %}

{% block title %}
PCB سفارش  برد مدارچاپی
{% endblock title %}

{% block style %}
    <style>
        p {
            text-align: justify !important;
        }
    </style>
{% endblock style %}

{% block content %}
    {% include 'components/header.html' %}

    <section class="persian-font">
        <div class="container-fluid">
            <div class="my-5 row justify-content-center align-items-center">

                <div class="col-10">
                    <h2 class="text-orange">سفارش مدارات چاپی</h2>
                    <p>برد مدار چاپی (PCB) یکی از قطعات الکتریکی واسطه است که نقش کلیدی در عملکرد صحیح تجهیزات
                        الکترونیکی ایفا می‌کند. اگر خوب، به داخل هر وسیله‌ی الکترونیکی مدرن (تلویزیون، کامپیوتر، تلفن
                        همراه، ماشین لباسشویی، اتو، کتری و...) نگاه کنید یک یا چند برد مدار چاپی را خواهید دید که اغلب
                        با عبارت مخفف شده PCB از آن یاد می‌شود.</p>
                    <p> این قطعه از یک صفحه یک یا چند لایه تشکیل می‌شود که اغلب شامل یک تخته زیرین نازک با قطر حدود 1.6
                        میلی متر است که از جنس هایی مانند فایبرگلاس و رزین تولید می‌گردند. لایه دیگر که باز هم نازک است،
                        از جنس مس خواهد بود تا رسانا باشد. اگر لایه مس فقط در یک سطح به کار رود به آن برد مدار چاپی یک
                        طرفه اطلاق می‌شود و اگر مس روی هردو سمت باشد آن را به عنوان برد مدار چاپی دوطرفه می‌شناسیم. مس
                        به صورت چاپ شده روی برد قرار می‌گیرد و اجزای مورد نیاز هر مدار روی آن لحیم می‌گردد. در حقیقت
                        همین موضوع سبب نامگذاری این قطعه است. مدارهای چاپی می‌توانند بسیار پیچیده یا ساده باشند در تصویر
                        یک برد مدار چاپی مدرن را مشاهده می‌کنید. برد مدار چاپی می‌تواند ده‌ها و بلکه صدها قطعه را روی
                        خود جای بدهد و ارتباط را میان آنها برقرار کند.</p>
                </div>

                <div class="col-10 col-md-6">
                    <p>هم زمان با گسترش روز افزون صنایع الکترونیک , نیاز این صنعت به مدارچاپی هر روز بیشتر شده و همین
                        امر باعث پیشرفت چشمگیر فرآیند تولید آن گردیده است . پیشتر مراحل تولید برد به صورت دستی و با
                        استفاده از ابزار پیش پا افتاده مانند ماژیک , لتراست , نور آفتاب , دریل دستی و … فقط به صورت یک
                        لایه تولید می شد. اما با توجه به پیچیدگی مدار برخی دستگاهها , امروزه تکنولوژی این صفحه شگفت
                        انگیز تا ۳۲ لایه قابل تولید می باشد.سفارش مدارچاپی بسته به تعداد لایه های آن به روش های مختلف
                        تولید می شود , هرچه تعداد لایه بیشتر باشد فرایند تولید آن نیز پیچیده تر و حساس تر می باشد. جهت
                        کسب اطلاعات بیشتر از توانمندی ها میتوانید به صفحه توانایی ها مراجعه نمایید . و برای سفارش مدار
                        چاپی می توانید با کارشناسان واحد فروش تماس حاصل نمایید .</p>
                </div>
                <div class="col-10 col-md-4 mb-3">
                    <img src="{{ 'pcb/media/example-1.jpg' | StorageUrl }}" class="img-fluid img-thumbnail">
                </div>

                <div class="col-10">
                    <p class="text-primary h1">طراحی مدار چاپی </p>
                </div>
                <div class="col-10">
                    <p>چاپ بردها رایج‌ترین روش مونتاژ مدارهای الکترونیکی مدرن است. همانگونه که بالاتر اشاره شد بردها
                        شامل ساندویچی از یک یا چند لایه عایق و یک یا چند لایه مسی هستند که حاوی قطعات و ولتاژ می‌شوند.
                        طراحی برد مدار چاپی مدرن کار آسانی نیست و می‌تواند به اندازه طراحی کامل یک مدار الکتریکی طاقت
                        فرسا باشد. بیشتر سیستم‌های مدرن بردهای مدار از بردهای چند لایه تشکیل می‌شوند که در موارد خاص
                        ممکن است تا 32 لایه نیز برسد. در مدارهای چاپی‌ سنتی، اجزای سازنده در لایه بالایی داخل سوراخ‌هایی
                        نصب شده و بسیار ابتدایی بودند. اخیراً با پیشرفت تکنولوژی می‌توان بدون دخالت دست انسان و با
                        استفاده از دستگاه‌هایی مدرن، پیچیده‌ترین بردهای مدار چاپی را طراحی و اجرا کرد؛ درست کاری که در
                        آریا مدار ارجمند برای چاپ بردها انجام می‌شود.</p>
                </div>

                <div class="col-10 col-md-6 mt-3">
                    <img src="{{ 'pcb/media/example-3.jpg' | StorageUrl }}" class="img-fluid img-thumbnail">
                </div>
                <div class="col-10 col-md-4 mt-3">
                    <p> طراحی PCB بر عملکرد کلی سیستم نهایی تاثیر مستقیم دارد و باید بر اساس نیاز هر دستگاه به صورت مجزا
                        طراحی و تولید شود که کار دشواری به شمار می‌رود. کیفیت قطعات استفاده شده و تخصص مهندسان طراح در
                        تولید یک برد بسیار حائز اهمیت است. مدارهای چاپی نباید هیچ گونه نشت انرژی یا افت ولتاژ داشته
                        باشند و مقاومت بالایی در برابر رطوبت موجود در هوا یا گرما از خود نشان بدهند.</p>
                    <p> برد مدار چاپی را از نظر اثر می‌توان به دو دسته کلی تقسیم کرد: بردهایی که که بیشترین تأثیر را بر
                        عملکرد استاتیک یا DC مدار دارند و آن‌هایی که بیشترین تأثیر را بر عملکرد مدارهای دینامیکی یا AC
                        دارند (به ویژه در فرکانس‌های بالا) می‌گذارند. در هر صورت کیفیت در هر بخش از طراحی و تولید برد
                        مدار چاپی مهم و در عملکرد نهایی قطعه موثر است. بی‌تردید مسیرهای اشتباه و استفاده از متریال
                        بی‌کیفیت، شما را دچار مشکلاتی نظیر کاهش ولتاژ، قطعی و عدم دریافت سیگنال خواهد کرد.</p>
                </div>
                <div class="col-10 mt-5">
                    <p class="h1 text-primary">طراحی برد مدار چاپی با کامپیوتر</p>
                    <p>برنامه و دستگاه‌های متعددی برای طراحی برد مدار چاپی وجود دارد که در گذشته با یکی از آنها "آلتیوم
                        دیزاینر یا پروتل" آشنا شدیم. مهم‌ترین نکته در استفاده از نرم افزارها دقت آنهاست و شما باید مطمئن
                        شوید که آنچه در صفحه‌ی نمایش می‌بینید، درست مطابق با واقعیت است. اطلاعات کامل لایه‌ها، موارد
                        دقیق درخواست برد مدار، مکان سوراخ‌ها، مسیر مس‌ها، نقاط لحیم و آنالیز درست اطلاعات مونتاژ باید
                        بی‌نقص باشند. در برنامه‌ها اغلب از رنگ مشکی برای پس زمینه استفاده می‌شود تا تاثیر همه چیز را
                        دقیق‌تر تشخیص بدهید و امکان نمایش درست هر مرحله به صورت مجزا و متمایز در تمام طول فرایند تولید
                        میسر گردد. در تصاویر می‌توانید نمونه‌ای از آیکون‌هایی که برای نشان دادن مکان‌های سوراخ مورد
                        استفاده قرار می‌گیرند را مشاهده کنید و همانطور که می‌بینید برای هر رنگ تعریف خاصی در نظر گرفته
                        می‌شود و هر چیز ID مخصوص به خود را دارد.</p>
                </div>
                <div class="col-10">
                    <div class="my-3 owl-carousel owl-theme pcb-slider-show w-100">
                        <div class="item h-100 w-100 bg-danger rounded">
                            <img loading="lazy"
                                 src="{{ 'pcb/media/exmaple-2.webp' | StorageUrl }}"
                                 class="shadow  rounded" style="height: 100%" alt=""/>
                        </div>
                        <div class="item h-100 w-100 bg-danger rounded">
                            <img loading="lazy"
                                 src="{{ 'pcb/media/example-1.webp' | StorageUrl }}"
                                 class="shadow  rounded" style="height: 100%" alt=""/>
                        </div>
                        <div class="item h-100 w-100 bg-danger rounded">
                            <img loading="lazy"
                                 src="{{ 'pcb/media/example.webp' | StorageUrl }}"
                                 class="shadow  rounded" style="height: 100%" alt=""/>
                        </div>
                    </div>

                </div>
                <div class="col-10 my-5">
                    <a class="btn btn-primary w-100 fs-4" href="{{ url_for('web.orderPCB.calculator_get') }}">محاسبه قیمت / ثبت سفارش</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}
    {% include 'components/mobile-navbar.html' %}

{% endblock content %}

{% block script %}
    {% include 'utils/owl-carousel.html' %}
    <script>
        var imageShowSlider = $(".pcb-slider-show");
        imageShowSlider.owlCarousel({
            rtl: true,
            loop: true,
            margin: 10,
            autoplay: true,
            responsiveClass: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            lazyLoad: true,
            center: true,
            nav: false,
            dots: false,
            responsive: {
                0: {
                    items: 3,
                },
            }
        });

    </script>
{% endblock script %}